.column {
    border-radius: 25px;
    float: left;
    width: 30vw;
    margin: 0 30px 30px 30px;
    height: 100vh;
    background-color: rgb(207, 207, 207);
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 10px;
    display: block;
    
}

.classheader {
    background-color: rgb(207, 207, 207);
    margin-bottom: 30px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    padding-left:20px;
    border-width: 4px;
    border-color:  rgb(187, 187, 187);
    border-style: solid;
    border-radius: 8px;
}


.column h2{
    text-align: center;
}
li {
    margin: 0 0 12px 0;
}
.split {
    height:50vh;
}
.encompass {
    outline: 1px solid black;
}
#eventCalendar {
    display: inline;
}
#top span{
    display: inline
}
#button {
    float: right;
}
#info {
    float: right;
}
.columns {
    background-color:rgb(72, 71,82);
    overflow: auto;
    width: 100vw;
    position: absolute;
}
#top {
    background-image: url(../images/banner.png) !important;
    height:180px;
    width: 100vw;
    color:white;
    font-family: 'Roboto', sans-serif;
    
}
.settings-button {
    color: white !important;
    background-color: transparent !important;
    border: none !important;
    float: right;
    padding-right: 25px !important;
}
body {
    margin: 0 !important;
    background-color:rgb(72, 71,82);
}
#title {
    padding-left: 20px;
    float: left;
    font-size: 50px !important;
}
#cal{
    margin-left: 10px;
}

.primary-button {
    border-radius: 5px;
    background-color: #7998cc;
    padding: 10px;
    border: none;
    font: inherit;
    color: white;
    cursor: pointer;
}

.box {
    border-radius: 25px;
    width: 80vw;
    margin: 0 30px 30px 30px;
    padding-bottom: 100px;
    height: auto;
    background-color: rgb(207, 207, 207);
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 10px;
    display: block;
}

.box h2 {
    padding-left: .8em;
    padding-top: 15px;
}

.box h3 {
    padding-left: 1.2em;
    padding-top: 20px;
}

.subbox {
    overflow: auto;
    border-radius: 5px;
    margin: 0 20px 0 20px;
    padding: 1em;
    background: rgb(235, 235, 235);
}
