
.table{
	border: 10px solid #73af00;
	border-bottom-style:solid;
	border-color: #c0c0c0
	
}

th, td{
	border: 1px solid black;
	
}

.table tr:hover td{
	background-color: solid black !important;
}


body{
	font-family: 'Roboto', sans-serif !important;
	background-color: rgb(72, 71,82);;
}

.toolbarbutton{
	padding-bottom: 20px;
}

.toolbar{
	width: 25vw;
	padding-bottom: 20px;
}
.tableCard {
	width: 100vw;
	background-color: rgb(207, 207, 207);
	box-shadow: 5px 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
